<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-success">
      <div class="panel-heading">
        Article
      </div>

      <div class="panel-body">
        <p>
          <strong>Title:</strong>
          <%= @article.title %>
        </p>

        <p>
          <strong>Content:</strong>
          <%= raw(@article.content) %>
        </p>

        <p>
          <strong>Category:</strong>
          <%= @article.category %>
        </p>

        <p>
          <strong>Author:</strong>
          <%= link_to @article.user.email, @article.user %>
        </p>
      </div>

      <div class="panel-footer">
        <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-success" %>
        <%= link_to 'Back', articles_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1>Comments</h1>
      </div>

      <table class="table table-hover">
        <thead>
        <tr>
          <th>Author</th>
          <th>Comment</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @article.comments.order(created_at: :desc).each do |comment| %>
          <tr>
            <td><%= link_to comment.user.email, comment.user %></td>
            <td><%= comment.message %></td>
            <td><%= link_to 'Show', comment %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>